html{
	font-size: 16px;
	width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
	align-items:center;
	display: flex;
	flex-flow:row wrap;
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	justify-content: center;
	max-width: 1200px;
	padding-left: 20px;
	/*padding left scoot the entire layout over to make both white spaces even.*/
	padding-right: 20px;
}
container{
	align-items:center;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	max-width: 1200px;
	width:90%;
}
hr{
	background-color:#77a466; 
	width: 100%;
	padding-top: 2px;
	position:relative;
	top: 139px;
}
.h1{
	 width: 90%;
}
h1{
	color: black;
	text-transform: uppercase;
	
	align-content: center;
	align-items: center;
	display:flex;
	justify-content: center;
	
	margin: 0;
	padding-top: 63px;
	font-size: 2.125em;
}
h2 {
	font-size: 1.125em;
	color: black;
	text-transform: uppercase;
	font-weight: 700
}
h3 {
	font-size: 0.75em;
	color: black;
	text-transform: uppercase;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	align-items:center;
	display: flex;
	flex-flow: row wrap;
	font-size: 1em; /*put spaces b/w nav names when its cellphone size*/
	/*height: 110px*/;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width: 100%;
}
header span{
	align-items: center;
	display:flex;
	justify-content: center;
	color: #77a466;
	
	font-size: 1em;
	padding: 0 9px;
	padding-right: 10px;
}
nav {
	/*float: right;*/
	padding: 46px 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 15px 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;

}

.main-image {
	height: auto;
	/*float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: 2px solid #77a466;
	border-top:  2px solid #77a466; 
}

.main-title {
	height: auto;
	/*float: left;*/
}
.main-title h2 {
	font-size: 88%;
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 13px;
	line-height: 25px;
}
.bottom-section{
	display: flex;
	align-content: center;
}
.reviews{
	font-size: 12px;
}
.section-one,
.section-two,
.section-three {
	width: 93%;
	height: auto;
	/*float: left;*/
	border-top: 1px solid #eee;
	
}
section-one h3 {
	padding: 10px 0;
}
/*I notice that the padding had a lot to do with how far the title was away or close to the edge of the edge of the screen.*/
section-two h3{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-size: 0.875em;
	padding: 10px 0;
}
.section-two p{
	font-size: 0.813em;
	padding: 10px 0;
}
section-three h3 {
	font-size: 0.875em;
	padding: 10px;
}
.section-three p{
	padding: 10px 0;
}
.section-one{
	height: 247px;
}
.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 50px;
	justify-content:center;
	margin: 0 auto;
	max-width:1200px;
	text-align: center;
	width:90%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;

}


/*------TABLET-----*/
@media all and (min-width: 768px) and (max-width: 768px){
/*768 and higher*/

.h1{
	/*float: left;*/
	margin: 0;
	padding: 38px 76px;
	font-size: 24px;
	padding-right: 105px;
}		
container span{
	padding: 2px;
	color: #77a466;
	font-size: 24px;
	padding-right: 10px;
}	
header nav ul li a{
	color: #77a466;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	padding: 6px;
}
.main-title h2{
	font-size: 16px;	
}	
.main-title p{
	font-size: 14px;	
}		
.bottom-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
}	
.bottom-section h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 34px;
}
	
.section-one, h3{
	display: flex;
	flex-direction: row;	
	justify-content: center;
	padding-right: 34px;	
	font-size: 14px;
}
.section-two, h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 34px;	
}
.section-three, h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 34px;	
}		
.li{
	font-size: 15px;
	word-spacing: 12px;
	display: inline;
	color: #77a466;
}
reviews{
	font-size: 12px;	
 }	

	

