html{
	font-size: 16px;
	width: 100%;
    margin: 0;
	overflow-x: hidden;
    padding: 0;
}
body {
	align-items:center;
	display: flex;
	flex-flow:row wrap;
	font-family: 'Montserrat', 'Helvetica, Arial', 'sans-serif';
	font-size: 1em;
	justify-content: center;
	max-width: 1200px;
	padding-left: 20px;
	/*padding left scoot the entire layout over to make both white spaces even.*/
	padding-right: 20px;
}
.container{
	max-width: 1200px;
	width:90%;
}
hr{
	background-color:#77a466; 
	padding-top: 2px;
	position:relative;
	top: 139px;
	width: 100%;
}
h1{
	align-content: center;
	align-items: center;
	display:flex;
	color: black;
	font-size: 2.125em;
	justify-content: center;
	margin: 0;
	padding-top: 63px;
	text-transform: uppercase;
	width: 90%;
}
h2 {
	font-size: 1.125em;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h3 {
	font-size: 0.75em;
	color: black;
	text-transform: uppercase;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	align-items:center;
	display: flex;
	flex-flow: row wrap;
	font-size: 1em; /*put spaces b/w nav names when its cellphone size*/
	/*height: 110px*/;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width: 100%;
}
.header, span{
	align-items: center;
	justify-content: center;
	color: #77a466;
	display:flex;
	font-size: 1em;
	justify-content: center;
	padding: 0 9px;
	padding-right: 9px;
}
nav {
	/*float: right;*/
	padding: 46px 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 15px 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section{
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;
}
.bottom-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;

}

.main-image {
	height: auto;
	/*float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: 2px solid #77a466;
	border-top:  2px solid #77a466; 
}

.main-title {
	height: auto;
	/*float: left;*/
}
.main-title h2 {
	font-size: 88%;
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 13px;
	line-height: 25px;
}
.bottom-section{
	display: flex;
	align-content: center;
}
.reviews{
	font-size: 12px;
}
.section-one,
.section-two,
.section-three {
	width: 93%;
	height: auto;
	/*float: left;*/
	border-top: 1px solid #eee;
	
}
.section-one h3 {
	padding: 10px 0;
}
/*I notice that the padding had a lot to do with how far the title was away or close to the edge of the edge of the screen.*/
.section-two h3{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-size: 0.875em;
	padding: 10px 0;
}
.section-two p{
	font-size: 0.813em;
	padding: 10px 0;
}
.section-three h3 {
	font-size: 0.875em;
	padding: 10px;
}
.section-three p{
	padding: 10px 0;
}
.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
}

.address {
	font-size: 1em;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 50px;
	justify-content:center;
	margin: 0 auto;
	max-width:1200px;
	text-align: center;
	width:90%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
 }
/*------------TABLET-------------*/

@media all and (min-width: 768px){

 h1{
	font-size: 26px;
}
header, span{
	font-size: 26px;
	padding-left: 3px;
	
}
nav{
	/*float: right;*/
	padding: 46px 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	padding: 15px 10px;
	display: inline;
}	
.main-title p{
font-size: 13px;		
}
.bottom-section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 34px;
}	
.section-one h3, 
.section-two h3, 
.section-three h3{
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}
.section-three p{
	padding-bottom: 8px;	
}	
footer, h3 {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 50px;
	justify-content:center;
	margin: 0 auto;
	text-align: center;
	width:90%;
 }
}
	
/*------------DESKTOP-------------*/

@media all and (min-width: 1200px){

body{
	width: 100%;
    margin: 0;
    padding: 90px;	
}
.container header h1{
	padding-left: -600px;
	font-size: 27px;
	position: relative;
	text-align: justify;
	top: 80px;
}
.container header span{
	font-size: 27px;
}	
.container header h1{
	  position: relative;
}	
header h1{
	padding-right: 725px;
}	
hr{		
    display: none;
}
nav {
	/*float: right;*/
	padding: 46px 10px;
	flex-wrap: wrap;
	padding-left: 43px;
	justify-content: space-between;
}
header nav ul {
	margin: 0;
	padding: 0;
	flex-direction: row;
	padding-left: 429px;
	justify-content: space-between;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	justify-content: space-between;
	flex-direction: row;
}
.bottom-section,
.section-one h3, 
.section-two h3, 
.section-three h3{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 13px;

}	
footer h3{
	align-items: center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 45px;
	justify-content:center;
	margin: 0 auto;
	text-align: center;
	border-top: none;
}
.container span{
	top: 5px;
	font-size: 23px;
}	
}