html{
	font-size: 16px;
	width: 100%;
    margin: 0;
	overflow-x: hidden;
    padding: 0;
}
body {
	align-items:center;
	display: flex;
	flex-flow:row wrap;
	font-family: 'Montserrat', 'Helvetica, Arial', 'sans-serif';
	font-size: 1em;
	justify-content: center;
	max-width: 1200px;
	padding-left: 20px;
	/*padding left scoot the entire layout over to make both white spaces even.*/
	padding-right: 20px;
}

html, body {
  margin:0;
  padding:0;
}

.container{
	max-width: 1200px;
	width:90%;
}
hr{
	background-color:#77a466; 
	padding-top: 2px;
	position:relative;
	top: 139px;
	width: 100%;
}
h1{
	align-content: center;
	align-items: center;
	display:flex;
	color: black;
	font-size: 2.125em;
	justify-content: center;
	margin: 0;
	padding-top: 63px;
	text-transform: uppercase;
	width: 90%;
}
h2 {
	font-size: 1.125em;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h3 {
	font-size: 0.75em;
	color: black;
	text-transform: uppercase;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	align-items:center;
	display: flex;
	flex-flow: row wrap;
	font-size: 1em; /*put spaces b/w nav names when its cellphone size*/
	/*height: 110px*/;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width: 100%;
}
.header, span{
	align-items: center;
	justify-content: center;
	color: #77a466;
	display:flex;
	font-size: 1em;
	justify-content: center;
	padding: 0 9px;
	padding-right: 9px;
}
nav {
	/*float: right;*/
	padding: 46px 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 15px 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/******END OF HEADER******/

.top-section{
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;
}

.main-image {
	height: auto;
	/*float: left;*/
}

.main-image img {
	width: 100%;
	border-bottom: 2px solid #77a466;
	border-top:  2px solid #77a466; 
}

.main-title {
	height: auto;
	/*float: left;*/
}

.main-title h2 {
	font-size: 88%;
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 13px;
	line-height: 25px;
	text-align: justify;
	word-wrap: break-word;
	width: 95%;
}

/******HERO_AREA SECTION/ Ends here******/


.bottom-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;

}

.bottom-section{
	display: flex;
	/*align-content: center;*/
}

.section-one {
	/*float: left;*/
	border-top: 1px solid #eee;
	height: auto;
	width: 63%;
}

.section-one h3 {
	padding: 10px 0;
	padding-left: 3rem;
}

.menu p {
	color:#77a466;
	font-size: 1.2rem;
	padding: 4px 0;
	padding-left: 3rem;
}

.section-two {
	border-top: 1px solid #eee;
	height: 12.7rem;
	/*float: left;*/
	width: 59%;
}




.reviews  {
	font-size: 1.0rem;
	padding-left: 0.1rem;
	padding-right: 2rem;
	text-align: justify;
	word-wrap: break-word;
	width: 130%;
}

/*.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}*/


.section-three {
	border-top: 1px solid #eee;
	height: 12.6rem;
	/*float: left;*/
	width: 43%;
	
}

/*I notice that the padding had a lot to do with how far the title was away or close to the edge of the edge of the screen.*/
.section-two h3 {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-size: 0.875em;
	padding: 10px 0;
}

.section-three h3 {
	font-size: 0.875em;
	margin-top: 3rem;
	padding-left: 4.1rem;
	padding: 10px;
}

/*
.section-three p{
<<<<<<< HEAD
	padding-top: -23rem;
}*/
/*.section-one{
	height: 247px;
}*/
/*
=======
	padding: 10px 0;
}
>>>>>>> 9f93b47e00d28fd7fd696a5d00e74d832aadb3c0
.menu {
	list-style: none;
	padding: 0;
}*/

<<<<<<< HEAD



.address p {
	font-size: 1.0em;
	line-height: 2rem;
	padding-right: 3rem;;
	padding-top: 0.1rem;
	word-wrap: break-word;
	width: 34rem;
=======
.reviews {
	color: #333;
	font-size: 1em;
}

.address {
	font-size: 1em;
>>>>>>> 9f93b47e00d28fd7fd696a5d00e74d832aadb3c0
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 50px;
	justify-content:center;
	margin: 0 auto;
	max-width:1200px;
	text-align: center;
	width:90%;
}

footer span {
	color: #77a466;
	font-family: 'Galada', cursive;
	font-size: 0.875em;
	text-transform: lowercase;

 }
<<<<<<< HEAD

=======
>>>>>>> 9f93b47e00d28fd7fd696a5d00e74d832aadb3c0
/*------------TABLET-------------*/

@media all and (min-width: 768px){

 h1{
	font-size: 26px;
}
header, span{
	font-size: 26px;
	padding-left: 3px;
	
}
nav{
	/*float: right;*/
	padding: 46px 10px;
}
header nav ul {
	margin: 0;
	padding: 0;
}
	
header nav ul li {
	display: inline;
	font-weight: 700;
	font-size: 16px;
	padding: 15px 10px;
	text-transform: uppercase;	
}
	
.top-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;
}

.main-image {
	height: auto;
	/*float: left;*/
}

.main-image img {
	border-bottom: 2px solid #77a466;
	border-top:  2px solid #77a466; 
	width: 100%;
}

.main-title {
	height: auto;
	/*float: left;*/
}

.main-title h2 {
	color: #77a466;
	font-size: 1.3rem;
	text-align: left;
	padding: 5px 0;
	word-wrap: break-word;
	width: 72%;
}

.main-title p {
	font-size: 1.2rem;
	line-height: 25px;
	padding: 0;
}

/******HERO_AREA SECTION/ Ends here******/


.bottom-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin: 0 auto;
	max-width:1200px;
	width:90%;

}

.bottom-section{
	display: flex;
<<<<<<< HEAD
	/*align-content: center;*/
}

.section-one {
	/*float: left;*/
	border-top: 1px solid #eee;
	height: auto;
	width: 63%;
}

.section-one h3 {
	padding: 10px 0;
	padding-left: -2rem;
}

.menu p {
	color:#77a466;
	padding: 4px 0;
	padding-left: 3rem;
}


/***End of menu**/

.section-two {
	border-top: 1px solid #eee;
	height: 12.7rem;
	/*float: left;*/
	width: 59%;
}

.section-two h3 {
	font-size: 1.0rem;	
}
	
.section-two p  {
	font-size: 1.2rem;
	padding-left: 2.3rem;
	padding-right: 5rem;
	text-align: justify;
	word-wrap: break-word;
	width: 86%;
}

/*.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}*/

.section-three h3 {
	font-size: 1.0rem;	
=======
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 34px;
}	
.section-one h3, 
.section-two h3, 
.section-three h3{
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}
.section-three p{
	padding-bottom: 8px;	
>>>>>>> 9f93b47e00d28fd7fd696a5d00e74d832aadb3c0
}	
	

.section-three {
	border-top: 1px solid #eee;
	height: 12.6rem;
	/*float: left;*/
	width: 43%;
	
}

/*I notice that the padding had a lot to do with how far the title was away or close to the edge of the edge of the screen.*/
.section-one, .section-two, .section-three  {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 10px 0;
	width: 100%;
}

.section-three h3 {
	font-size: 1.0em;
	padding: 10px;
}

.address p {
	font-size: 1em;
	line-height: 24px;
	padding-top: 0.1rem;
}
	
footer, h3 {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 50px;
	justify-content:center;
	margin: 0 auto;
	text-align: center;
	width:90%;
 }
}
	
/*------------DESKTOP-------------*/

@media all and (min-width: 1200px){
	

body{
	width: 100%;
    margin: 0;
    padding: 90px;	
}
.container header h1{
	padding-right: 53rem;
	font-size: 27px;
	position: relative;
	text-align: justify;
	top: 80px;
}
.container header span{
	font-size: 27px;

}	
.container header h1{
	  position: relative;
}	
header h1{
	padding-right: 43rem;
}	
hr{		
    display: none;
}
nav {
	/*float: right;*/
	padding: 3rem;
	margin-left: -9rem;
	flex-wrap: wrap;
	padding-right: 5rem;
	justify-content: space-between;
}
header nav ul {
	margin: 0;
	padding: 0;
	flex-direction: row;
	padding-left: 429px;
	justify-content: space-between;
}
	
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	justify-content: space-between;
	flex-direction: row;
}
	
.main-image, figure image{
	margin-left: -4rem;
	width: 105%;	
}	
	
.top-section {
	padding-right: 43rem;	
}
	

	/****End of nav***/
	
.bottom-section {
	align-items:center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	justify-content: center;
	margin-right: 37rem;
	/*margin: 0 auto;*/
	max-width:1200px;
	width:90%;

}

.bottom-section{
	display: flex;
<<<<<<< HEAD
	/*align-content: center;*/
}

.section-one {
	/*float: left;*/
	border-top: 1px solid #eee;
	height: 13rem;;
	width: 33%;
}
	
.section-one p{
	font-size: 1.0rem;
	line-height: 1.0rem;
}
	
.section-two {
	border-top: 1px solid #eee;
	height: 12.9rem;
	/*float: left;*/
	width: 33%;
}
	
.section-two p  {
	font-size: 0.7rem;
	padding-left: 2.3rem;
	padding-right: 5rem;
	text-align: justify;
	word-wrap: break-word;
	width: 86%;
=======
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 13px;

>>>>>>> 9f93b47e00d28fd7fd696a5d00e74d832aadb3c0
}	

.section-two h3 {
	font-size: 1.0rem;	
}
	


/*.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}*/
	
.section-three {
	border-top: 1px solid #eee;
	height: 18.6rem;
	/*float: left;*/
	width: 27%;
	
}	

.section-three h3 {
	font-size: 1.0rem;	
}	
	


.address p {
	font-size: 1em;
	line-height: 24px;
	padding-top: 0.1rem;
}	
	
	
	
footer h3{
	align-items: center;
	clear: both;
	display:flex;
	flex-flow:row wrap;
	font-size: 1em;
	height: 45px;
	justify-content:center;
	margin: 0 auto;
	text-align: center;
	border-top: none;
}
.container span{
	top: 5px;
	font-size: 23px;
}	
}